<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
        <!--====== Modal trỏ vào sản phẩm ======-->

	<div th:fragment="all-modals">
	
		<div class="modal fade" id="quick-look">
	    <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content modal--shadow">
	            <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
	            
	            <div class="modal-body" id="quick-look-content">
	                <th:block th:fragment="quick-look-fragment">
	                    <div class="row" th:if="${spQuickLook != null}">
	                        
	                        <div class="col-lg-5">
	                            
	                            <div class="pd-breadcrumb u-s-m-b-30">
	                                <ul class="pd-breadcrumb__list">
	                                    <li class="has-separator">
	                                        <a th:href="@{/}">Home</a>
	                                    </li>
	                                    <li class="has-separator" th:if="${spQuickLook.danhMuc != null}">
	                                        <a th:href="@{#}" th:text="${spQuickLook.danhMuc.tenDanhMuc}">Danh mục</a>
	                                    </li>
	                                    <li class="is-marked">
	                                        <a th:href="@{/san-pham/{id}(id=${spQuickLook.id})}" th:text="${spQuickLook.tenSanPham}">Tên SP</a>
	                                    </li>
	                                </ul>
	                            </div>
	                            
	                            <div class="pd u-s-m-b-30">
	                                <div class="pd-wrap">
	                                    <div id="js-product-detail-modal">
	                                        <div th:each="chitiet : ${listChiTiet}">
	                                            <img class="u-img-fluid" th:src="@{'/uploads/product/' + ${chitiet.hinhAnhSanPham}}" alt="Ảnh Sản Phẩm">
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="u-s-m-t-15">
	                                    <div id="js-product-detail-modal-thumbnail">
	                                        <div th:each="chitiet : ${listChiTiet}">
	                                            <img class="u-img-fluid" th:src="@{'/uploads/product/' + ${chitiet.hinhAnhSanPham}}" alt="Thumbnail">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-lg-7">
	                            <div class="pd-detail">
	                                
	                                <div>
	                                    <span class="pd-detail__name" th:text="${spQuickLook.tenSanPham}">Tên Sản Phẩm</span>
	                                </div>
	                                
	                                <div class="u-s-m-b-15 u-s-m-t-15" th:if="${spQuickLook.thuongHieu != null}">
	                                    Thương hiệu: <strong th:text="${spQuickLook.thuongHieu.tenThuongHieu}">Yonex</strong> | 
	                                    Danh mục: <strong th:text="${spQuickLook.danhMuc.tenDanhMuc}">Vợt Cầu Lông</strong>
	                                </div>
	                        
	                                <div>
	                                    <div class="pd-detail__inline">
	                                        <span class="pd-detail__price" th:if="${!listChiTiet.isEmpty()}" 
	                                              th:text="${#numbers.formatDecimal(listChiTiet[0].giaBan, 0, 'COMMA', 0, 'POINT')} + ' đ'">Giá tiền</span>
	                                    </div>
	                                </div>
	                                
	                                <div class="u-s-m-b-15 u-s-m-t-15">
	                                    <div class="pd-detail__rating gl-rating-style">
	                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
	                                        <span class="pd-detail__review u-s-m-l-4">
	                                            <a th:href="@{/san-pham/{id}(id=${spQuickLook.id})}">Xem chi tiết</a>
	                                        </span>
	                                    </div>
	                                </div>
	                        
	                                <div class="u-s-m-b-15">
	                                    <span class="pd-detail__preview-desc" th:text="${spQuickLook.moTa}">Mô tả ngắn của sản phẩm...</span>
	                                </div>
	                        
	                        		<div class="u-s-m-b-15">
	                                    <div class="pd-detail__inline">
	                                        <span class="pd-detail__click-wrap">
	                                            <a href="javascript:void(0)" th:onclick="'addToWishlist(' + ${spQuickLook.id} + ')'"><i class="far fa-heart u-s-m-r-6"></i>Thêm vào yêu thích</a>
	                                        </span>
	                                    </div>
	                                </div>
	                        		
	                                <div class="u-s-m-b-15" th:if="${listMauSac != null and !listMauSac.isEmpty()}">
	                                    <span class="pd-detail__label u-s-m-b-8">Màu sắc:</span>
	                                    <div class="d-flex flex-wrap">
	                                        <button th:each="mau : ${listMauSac}" 
	                                                class="variant-btn color-btn u-s-m-r-8 u-s-m-b-8" 
	                                                th:attr="data-color=${mau}" 
	                                                onclick="selectColor(this)" 
	                                                th:text="${mau}">
	                                        </button>
	                                    </div>
	                                </div>
	                                
	                                <div class="u-s-m-b-15" th:if="${listKichThuoc != null and !listKichThuoc.isEmpty()}">
	                                    <span class="pd-detail__label u-s-m-b-8">Trọng lượng / Kích thước:</span>
	                                    <div class="d-flex flex-wrap">
	                                        <button th:each="size : ${listKichThuoc}" 
	                                                class="variant-btn size-btn u-s-m-r-8 u-s-m-b-8" 
	                                                th:attr="data-size=${size}" 
	                                                onclick="selectSize(this)" 
	                                                th:text="${size}">
	                                        </button>
	                                    </div>
	                                </div>
	                                
	                                <div class="js-stock-status u-s-m-b-15 text-danger fw-bold" style="display: none;"></div>
	                        
	                                <div class="u-s-m-b-15">
	                                    <form class="pd-detail__form" th:action="@{/gio-hang/them}" method="post">
	                                        <input type="hidden" name="idSanPhamChiTiet" class="js-variant-id" required>
	                                        
	                                        <div class="pd-detail-inline-2">
	                                            <div class="u-s-m-b-15">
	                                                <div class="input-counter">
	                                                    <span class="input-counter__minus fas fa-minus"></span>
	                                                    <input class="js-quantity-input input-counter__text input-counter--text-primary-style" type="text" name="soLuong" value="1" data-min="1" data-max="1000">
	                                                    <span class="input-counter__plus fas fa-plus"></span>
	                                                </div>
	                                            </div>
	                                            <div class="u-s-m-b-15">
	                                                <button class="js-btn-add-cart btn btn--e-brand-b-2" type="submit" disabled>THÊM VÀO GIỎ</button>
	                                            </div>
	                                        </div>
	                                    </form>
	                                </div>
	                                
	                                <script th:inline="javascript">
	                                    /*<![CDATA[*/
	                                    var danhSachBienThe = /*[[${listBienTheJS}]]*/ [];
	                                    /*]]>*/
	                                </script>
	
	                                <div class="u-s-m-b-15">
	                                    <ul class="pd-social-list">
	                                        <li><a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
	                                        <li><a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
	                                        <li><a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
	                                    </ul>
	                                </div>
	                                
	                                <div class="u-s-m-b-15">
	                                    <span class="pd-detail__label u-s-m-b-8">Chính sách sản phẩm:</span>
	                                    <ul class="pd-detail__policy-list">
	                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i><span>Cam kết chính hãng 100%.</span></li>
	                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i><span>Hoàn tiền nếu phát hiện hàng giả.</span></li>
	                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i><span>Hỗ trợ đổi trả nếu sản phẩm lỗi do NSX.</span></li>
	                                    </ul>
	                                </div>
	                        
	                            </div>
	                        </div>
	                        </div>
	                </th:block>
	            </div>
	        </div>
	    </div>
	</div>
        
    <!-- thêm sảm phẩm vào giỏ nhanh  -->
	  <div class="modal fade" id="add-to-cart">
	    <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content modal-radius modal-shadow">
	            <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
	            <div class="modal-body">
	                <div class="row">
	                    <div class="col-lg-6 col-md-12">
	                        <div class="success u-s-m-b-30">
	                            <div class="success__text-wrap">
	                                <i class="fas fa-check"></i>
	                                <span>Thêm vào giỏ hàng thành công!</span>
	                            </div>
	                            <div class="success__img-wrap">
	                                <img class="u-img-fluid" id="js-modal-cart-img" src="" alt="Product">
	                            </div>
	                            <div class="success__info-wrap">
	                                <span class="success__name" id="js-modal-cart-name">Tên SP</span>
	                                <span class="success__desc" id="js-modal-cart-variant">Phân loại</span>
	                                <span class="success__quantity" id="js-modal-cart-qty">Số lượng</span>
	                                <span class="success__price" id="js-modal-cart-price">Giá</span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6 col-md-12">
	                        <div class="s-option">
	                            <span class="s-option__text">Giỏ hàng của bạn đã được cập nhật</span>
	                            <div class="s-option__link-box">
	                                <a class="s-option__link btn--e-white-brand-shadow" data-dismiss="modal">TIẾP TỤC MUA SẮM</a>
	                                <a class="s-option__link btn--e-white-brand-shadow" th:href="@{/gio-hang}">XEM GIỎ HÀNG</a>
	                                <a class="s-option__link btn--e-brand-shadow" th:href="@{/thanh-toan}">THANH TOÁN TỚI ĐÂY</a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
    
    <!-- nhận tin tức mới  -->
    <div class="modal fade new-l" id="newsletter-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal--shadow">

                    <button class="btn new-l__dismiss fas fa-times" type="button" data-dismiss="modal"></button>
                    <div class="modal-body">
                        <div class="row u-s-m-x-0">
                            <div class="col-lg-6 new-l__col-1 u-s-p-x-0">

                                <a class="new-l__img-wrap u-d-block" th:href="@{/shop-side-version-2.html}">

                                    <img class="u-img-fluid u-d-block" th:src="@{/images/newsletter/newsletter.jpg}" alt=""></a></div>
                            <div class="col-lg-6 new-l__col-2">
                                <div class="new-l__section u-s-m-t-30">
                                    <div class="u-s-m-b-8 new-l--center">
                                        <h3 class="new-l__h3">Nhận tin tức mới</h3>
                                    </div>
                                    <div class="u-s-m-b-30 new-l--center">
                                        <p class="new-l__p1">Đăng ký nhận email để cập nhật thông tin về sản phẩm mới, các chương trình khuyến mãi và hơn thế nữa.</p>
                                    </div>
                                    <form class="new-l__form">
                                        <div class="u-s-m-b-15">

                                            <input class="news-l__input" type="text" placeholder=".... @gmail.com"></div>
                                        <div class="u-s-m-b-15">

                                            <button class="btn btn--e-brand-b-2" type="submit">Sign up!</button></div>
                                    </form>
                                    <div class="u-s-m-b-15 new-l--center">
                                        <p class="new-l__p2">Bằng cách đăng ký, bạn đồng ý nhận các ưu đãi, khuyến mãi và các tin nhắn thương mại khác từ Reshop.<br\> Bạn có thể hủy đăng ký bất cứ lúc nào.</p>
                                    </div>
                                    <div class="u-s-m-b-15 new-l--center">

                                        <a class="new-l__link" data-dismiss="modal">Không cảm ơn</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>