<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon.png}" rel="shortcut icon">
    <title>Smash VN - Manage Order</title>

    <!--====== Phông chữ Google ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== CSS Nhà cung cấp ======-->
    <link rel="stylesheet" th:href="@{/css/vendor.css}">

    <!--====== Tiện ích khoảng cách ======-->
    <link rel="stylesheet" th:href="@{/css/utility.css}">

    <!--====== Ứng dụng ======-->
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" th:src="@{/images/preloader.png}" alt=""></div>
    </div>

    <!--====== Ứng dụng chính ======-->
    <div id="app">

        <!--====== Tiêu đề chính ======-->
        <header class="header--style-1">
            <div th:replace="~{layout/header :: header}"></div>
        </header>
        <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a th:href="@{/}">Home</a></li>
                                    <li class="is-marked">

                                        <a th:href="@{/user/manage-order}">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16" th:text="'Hello, ' + ${kh.hoKh} + ' ' + ${kh.tenKh}"></span>
                                            <ul class="dash__f-list">
                                                <li>

                                                    <a class="dash-active" th:href="@{/user/dashboard}">Manage My Account</a></li>
                                                <li>

                                                    <a th:href="@{/user/profile}">My Profile</a></li>
                                                <li>

                                                    <a th:href="@{/user/address}">Address Book</a></li>
                                                <li>

                                                    <a th:href="@{/user/track-order}">Track Order</a></li>
                                                <li>

                                                    <a th:href="@{/user/my-order}">My Orders</a></li>
                                                <li>

                                                    <a th:href="@{/user/payment-option}">My Payment Options</a></li>
                                                <li>

                                                    <a th:href="@{/user/cancellation}">My Returns & Cancellations</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                        <div class="dash__pad-1">
                                            <ul class="dash__w-list">
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                        <span class="dash__w-text" th:text="${orderCount}">4</span>

                                                        <span class="dash__w-name">Orders Placed</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>

                                                        <span class="dash__w-text" th:text="${cancelCount}">0</span>

                                                        <span class="dash__w-name">Cancel Orders</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                                                        <span class="dash__w-text" th:text="${wishlistCount}">0</span>

                                                        <span class="dash__w-name">Wishlist</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash-l-r">
                                                <div>
                                                    <div class="manage-o__text-2 u-c-secondary" th:text="'Order #' + ${order.id}">Order #305423126</div>
                                                    <div class="manage-o__text u-c-silver" th:text="'Placed on ' + ${#temporals.format(order.ngayDat, 'dd MMM yyyy HH:mm:ss')}">Placed on 26 Oct 2016 09:08:37</div>
                                                </div>
                                                <div>
                                                    <div class="manage-o__text-2 u-c-silver">Total:

                                                        <span class="manage-o__text-2 u-c-secondary" th:text="'$' + ${order.tongTien}">$16.00</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="manage-o">
                                                <div class="manage-o__header u-s-m-b-30">
                                                    <div class="manage-o__icon"><i class="fas fa-box u-s-m-r-5"></i>

                                                        <span class="manage-o__text">Package 1</span></div>
                                                </div>
                                                <div class="dash-l-r">
                                                    <div class="manage-o__text u-c-secondary" th:text="'Delivered on ' + ${#temporals.format(order.ngayGiao, 'dd MMM yyyy')}">Delivered on 26 Oct 2016</div>
                                                    <div class="manage-o__icon"><i class="fas fa-truck u-s-m-r-5"></i>

                                                        <span class="manage-o__text" th:text="${order.phuongThucVanChuyen}">Standard</span></div>
                                                </div>
                                                <div class="manage-o__timeline">
                                                    <div class="timeline-row">
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Processing</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Shipped</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Delivered</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="manage-o__description">
                                                    <div class="description__container" th:each="item : ${orderItems}">
                                                        <div class="description__img-wrap">

                                                            <img class="u-img-fluid" th:src="@{'/images/product/' + ${item.sanPhamChiTiet.sanPham.anh}}" alt=""></div>
                                                        <div class="description-title" th:text="${item.sanPhamChiTiet.sanPham.tenSanPham}">Yellow Wireless Headphone</div>
                                                    </div>
                                                    <div class="description__info-wrap">
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                <span class="manage-o__text-2 u-c-secondary" th:text="${item.soLuong}">1</span></span></div>
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Total:

                                                                <span class="manage-o__text-2 u-c-secondary" th:text="'$' + ${item.sanPhamChiTiet.giaBan * item.soLuong}">$16.00</span></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Shipping Address</h2>
                                                    <h2 class="dash__h2 u-s-m-b-8" th:text="${order.diaChiGiao.hoTen}">John Doe</h2>

                                                    <span class="dash__text-2" th:text="${order.diaChiGiao.diaChiDayDu}">4247 Ashford Drive Virginia - VA-20006 - USA</span>

                                                    <span class="dash__text-2" th:text="${order.diaChiGiao.soDienThoai}"> (+0) 900901904</span>
                                                </div>
                                            </div>
                                            <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Billing Address</h2>
                                                    <h2 class="dash__h2 u-s-m-b-8" th:text="${order.diaChiThanhToan.hoTen}">John Doe</h2>

                                                    <span class="dash__text-2" th:text="${order.diaChiThanhToan.diaChiDayDu}">4247 Ashford Drive Virginia - VA-20006 - USA</span>

                                                    <span class="dash__text-2" th:text="${order.diaChiThanhToan.soDienThoai}">(+0) 900901904</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Subtotal</div>
                                                        <div class="manage-o__text-2 u-c-secondary" th:text="'$' + ${order.tongTien - order.phiVanChuyen}">$16.00</div>
                                                    </div>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Shipping Fee</div>
                                                        <div class="manage-o__text-2 u-c-secondary" th:text="'$' + ${order.phiVanChuyen}">$16.00</div>
                                                    </div>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Total</div>
                                                        <div class="manage-o__text-2 u-c-secondary" th:text="'$' + ${order.tongTien}">$30.00</div>
                                                    </div>

                                                    <span class="dash__text-2" th:text="${order.phuongThucThanhToan}">Paid by Cash on Delivery</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
        <footer>
            <div th:replace="~{layout/footer :: footer}"></div>
        </footer>
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script th:src="@{/js/vendor.js}"></script>

    <!--====== Plugin jQuery Shopnav ======-->
    <script th:src="@{/js/jquery.shopnav.js}"></script>

    <!--====== Ứng dụng ======-->
    <script th:src="@{/js/app.js}"></script>

    <!--====== Khi không hỗ trợ JavaScript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>